

<div class="p-0 border-left border-right center-container">
  <div class="nav position-sticky bg-white border-bottom main-nav z-index-10">
    <h5 class="p-3 mb-0 font-weight-bold">Home</h5>
  </div>

  <div class="main-content bg-light">
    <%= render 'form' %>

    <div class="border-top">
      <%= render @opinions %>

    </div>

  </div>
</div>

<%= render 'shared/right_section' %>
