<div class="nav position-sticky bg-white main-nav border">
  <h5 class="p-3 mb-0 font-weight-bold">Home</h5>
</div>

<div class="main-content bg-light">
  <%= render 'form' %>

  <div class="border-top">
    <% @opinions.each do |opinion| %>
      <%= render 'opinion', opinion: opinion %>
    <% end %>
  </div>

</div>
