
<div class="p-0 border-left border-right center-container">
  <div class="nav position-sticky bg-white main-nav border z-index-10">
    <h5 class="p-3 mb-0 font-weight-bold">Tweet</h5>
  </div>

  <div class="main-content bg-light">
    <div class="border-top">
      <%= render 'opinion', opinion: @opinion %>
    </div>

  </div>
</div>

<%= render 'shared/right_section' %>
