
<div class="my-2 following-list">

  <ul class="list-group list-group-flush ">
    <li class="list-group-item">
      <h5 class="font-weight-bold mb-0">Followed by</h5>
    </li>

    <% @user.followers.each do |user| %>
      <%= render 'shared/user_to_follow', user: user %>
    <% end %>
  </ul>
</div>
