
<div class="my-2 following-list">

  <ul class="list-group list-group-flush ">
    <li class="list-group-item">
      <h5 class="font-weight-bold mb-0">who to follow</h5>
    </li>

    <%= render partial: 'shared/user', collection: users_to_follow %>
  </ul>
</div>
