<form action="#" class="search-form mb-3">
  <div class="position-relative">
    <input type="search" name="q" placeholder="search opinions" id="search" class="pl-5 py-2 search-input w-100">
    <label for="search" class="position-absolute search-label">
      <i class="fas fa-search"></i>
    </label>
  </div>
</form>
