/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

.btn {
  border-radius: 100px;
}

.authentication {
  height: 50vh;

  @media screen and (min-width: 768px) {
    height: 100vh;
  }

  .row {
    height: inherit;
  }

  &-left {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background: url('https://api.iconify.design/akar-icons:twitter-fill.svg?color=white') no-repeat center center / contain;      height: 25rem;
      width: 25rem;
    }
  }

  &-right {
    height: inherit;
  }
}

.authentication-left {
  background-image: image-url("../assets/twitter_banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.authentication-form {
  .form-label {
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s all;
    padding-left: 0.75rem;
  }

  .form-control {
    height: unset;
    padding-top: 1.8rem;
    border-width: 2px;

    &:focus {
      box-shadow: none;
    }

    &:focus ~ .form-label,
    &:valid ~ .form-label {
      top: 5px;
      transform: none;
    }
  }
}
