<li class="list-group-item d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <img src="https://via.placeholder.com/300" alt="user image" class="tweet-usr-img">
    <div class="d-inline-block ml-2 mr-5">
      <h6 class="mb-0"><%= user.full_name %></h6>
      <small class="">
        <span class="text-muted">@<%= user.username %></span>
      </small>
    </div>
  </div>
  <a href="#" class="btn btn-outline-primary py-0 px-3 font-weight-bold">Follow</a>
</li>
